@use 'sass:math';
@use 'sass:color';

.music-wrap {
  height: 230px;
  justify-content: center;
  display: flex;
  align-items: flex-end;
  border: 1px solid grey;
  border-radius: 10px;
  padding-left: 10px;
  margin: 20px;
}

.music {
  width: 20px;
  height: 230px;
  margin: 0 10px;
}

@for $i from 1 through 5 {
  .music:nth-of-type(#{$i}) {
    // Generate a random color
    $random-color: rgb(math.random(255), math.random(255), math.random(255));

    // Define the linear gradient with adjusted color
    background: linear-gradient(
      $random-color 0%,
      color.adjust($random-color, $lightness: 25%) 100%
    );

    // Generate random animation timing
    $duration: math.random(1) + s; // Random duration
    $delay: math.random(1) + s;    // Random delay

    // Apply the animation
    animation: move#{$i} $duration $delay infinite alternate;
  }
}

@for $i from 1 through 5 {
  @keyframes move#{$i} {
    0% {
      height: math.random(200) + px;
    }
    25% {
      height: math.random(150) + px;
    }
    50% {
      height: math.random(80) + px;
    }
    75% {
      height: math.random(200) + px;
    }
    100% {
      height: math.random(200) + px;
    }
  }
}
